<h1>Agile Thailand กลับมาแล้ว!!!</h1>

<p>
งาน Agile Thailand ถูกจัดขึ้นครั้งแรกเมื่อกลางปี 2555 โดยกลุ่มคนที่มีจุดนัดพบที่ชื่อว่า Agile66 ด้วยเหตุผลหลักๆคือ อยากจัด และมีเหตุผลรองๆ คือ อยากชวนคนมาคุยกันเรื่อง Agile
งานที่แล้วเราจัดกันเล็กๆ ด้วยศักยภาพที่มีในตอนนั้น กลับมาปีนี้ หลังจากได้ทำการ Inspect and Adapt แล้ว เราขอจัดให้ใหญ่ยิ่งขึ้น! จากปีที่แล้วไม่ถึง 100 คน ปีนี้ งาน Agile Thailand พร้อมที่จะรองรับผู้เข้าร่วมงานถึง 300 คน!
ผู้มาร่วมงานมีทั้งเหล่าผองเพื่อนหน้าเดิมจากงานที่แล้วและเพื่อนๆ หน้าใหม่อีกหลายท่าน ซึ่งทุกคนพร้อมที่จะมาแชร์และแลกเปลี่ยนประสบการณ์เกี่ยวกับ Agile ไปพร้อมๆกับผู้ร่วมงานทุกท่าน 
ไม่ว่า คุณจะเป็นคนที่รู้จัก Agile เพียงแค่ได้ยินชื่อ และสงสัยว่ามันคืออะไร หรือ ได้ใช้เทคนิคของ Agile มาบ้างแล้วอยากมาแชร์หรือหาความรู้เพิ่มเติม งานนี้ คุณก็ไม่ควรพลาด!
มาเจอกันที่ Agile Thailand 2013 กันเถอะ!
</p>

<p>รีบๆ กันหน่อยนะเหลืออีกเพียง <strong><%= @remaining %></strong> ที่เท่านั้น</p>

<a href="http://www.eventbrite.com/event/5381153174?ref=ebtn" target="_blank">
  <img border="0" src="http://www.eventbrite.com/custombutton?eid=5381153174" alt="Register for ATH2013" />
</a>